@charset "UTF-8";


@media screen and (min-width: 1366px) and (max-width: 1900px) { /* PC*/
main{
    width: 70vw;
}
#titulo{
    font-size: 4em;
}
.black{
    text-align: left;
    margin-right: 10vw;
    font-size: 2.3em;
}
.mystical{
    text-align: right;
    margin-left: 10vw;
    font-size: 2.2em;
}
.material-icons{
    display: none;
}
.menu{
    display: block;
}
.menu > ul > li {
    display: inline-block;
}

.menu > ul > li > a{
    border: 0px;
}

.menu > ul > li > a:hover{
    border: 2px solid black;
    padding: 3px;
}







}


