@charset "UTF-8";
/* typical device breakpoints
Mobile: 360 x 640.
Mobile: 375 x 667.
Mobile: 360 x 720.
iPhone X: 375 x 812.
Pixel 2: 411 x 731.
Tablet: 768 x 1024.
Laptop: 1366 x 768.
High-res laptop or desktop: 1920 x 1080.*/

@font-face {
    font-family: font_tattoo;
    src: url(../fontes/MiltonianTattoo-Regular.ttf);
}
/* mobile first */

:root{
    --verde_escuro: #0E3A25;
    --verde_medio: #399b3ef6;
    --verde_claro: #2ad100d8;
    --cinza_claro: #E7E5E8;
    --cinza_medio: #b3b3b5c9;
    --cinza_escuro: #5A6872;

}

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    background: var(--verde_escuro) url(../imagens/fundo_teste.jpg) left top repeat fixed;
    height: 100vh;
}

a.externo::after{
    content: '\00A0\1F517';
}

main{
    background-color: var(--verde_medio);
    width: 90vw;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

header{
    background-color: var(--verde_claro);
    padding-bottom: 5px;
    min-height: 100px;
    display: block;
    
}
#titulo{
    color: var(--verde_escuro);
    font-family: font_tattoo, Arial, Helvetica, sans-serif;
    font-size: 3em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.658);
    text-align: center;
}
header > div{
    text-align: center;
}
header > div > aside{
    font-family: font_tattoo, Arial, Helvetica, sans-serif;
    font-size: 2em;
    display: inline-flex;
    text-align: center;
}

.black{
    text-align: left;
    margin-right: 5vw;
    
}
.mystical{
    text-align: right;
    margin-left: 5vw;
}

.menu{
    display: none;
    text-align: center;
}
.menu > ul{
    list-style-type: none;
}
.menu > ul > li > a{
    display: block;
    background-color: var(--verde_escuro);
    color: var(--verde_claro);
    font-size: 1.2em;
    text-decoration: none;
    padding: 5px;
    border-top: 2px solid var(--cinza_claro);
    margin: 1px -1px;
}
.menu > ul > li > a:hover {
    background-color: var(--verde_claro);
    color: var(--verde_escuro);
    text-decoration: underline;
}

.material-icons {
    color: var(--verde_claro);
    background-color: var(--verde_escuro);
    text-align: center;
    cursor: pointer;
    padding: 2px;
    margin-left: 5vw;
    
}
.material-icons:hover{
    color: var(--verde_claro);
    background-color: var(--cinza_medio);
}

.texto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5;
}
